.email-verification-header {
  ion-toolbar {
    --min-height: 48px;

    .header-toolbar {
      display: flex;
      align-items: center;
    }

    .back-button {
      position: absolute;
      padding: 0 10px;
      left: 0;

      ion-back-button {
        min-width: 24px;
        --padding-start: 0;
        --padding-end: 0;
        margin: auto;
        --background-hover: none;
      }
    }

    .title-container {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      ion-text {
        font-size: 20px;
        color: var(--email-verify-header-color);
      }

      .header-title {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.reset-password-container {
  width: 100%;

  ion-grid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    display: flex;

    .navigator-logo-img {
      width: 112px;
      height: 112px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      margin: 60px auto 0;
    }

    .navigator-logo-img {
      background-image: var(--navmath-logo);
    }
  }

  .reset-password-form {
    width: 100%;

    .reset-submit-btn {
      display: flex;
      justify-content: center;

      ion-col {
        display: flex;
        justify-content: center;

        .submit-btn {
          --background: var(--signin-btn-bg-color);
          --border-radius: 0;
          margin-top: 12px;
          color: var(--white);
          width: 75%;
          height: 50px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 0;
        }
      }
    }
  }
}
