<ion-header class="forgot-password-header" no-border>
  <ion-toolbar>
    <ion-row class="justify-content-center">
      <ion-row class="back-button">
        <ion-back-button (click)="onClose()"></ion-back-button>
      </ion-row>
      <ion-row class="title-container">
        <ion-row class="justify-content-center">
          <ion-text *ngIf="resetFinished; else resetPasswordFormHeader">{{'CHECK_EMAIL' | translate}}</ion-text>
          <ng-template #resetPasswordFormHeader>
            <ion-text>{{'FORGOT_YOUR_PASSWORD' | translate}}</ion-text>
          </ng-template>
        </ion-row>
        <ion-row *ngIf="!resetFinished" class="justify-content-center">
          <ion-text class="description">{{'FORGOT_PASSWORD_HEADER_DESC' | translate}}</ion-text>
        </ion-row>
      </ion-row>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="forgot-password-container">
  <ion-grid class="forgot-password-grid">
    <ion-row class="logo">
      <ion-icon *ngIf="tenantImage;else gooruImg" class="tenant-logo-img" [ngStyle]="{'background-image': 'url('+tenantImage+')'}"></ion-icon>
      <ng-template #gooruImg>
        <ion-icon class="navigator-logo-img"></ion-icon>
      </ng-template>
    </ion-row>
    <ion-row class="forgot-password-form">
      <form class="forgot-password-form">
        <ion-row class="form-content">
          <ng-container *ngIf="!resetFinished;">
            <ion-row class="form-group">
              <nav-input-email [label]="'ENTER_YOUR_EMAIL' | translate" [parentForm]="forgotPasswordForm" (enterEmail)="onEnterEmail()"></nav-input-email>
              <ion-text *ngIf="submitted && validateForm.email.errors?.required" class="danger-text text-center">
                {{'ENTER_EMAIL_ERROR' | translate}}
              </ion-text>
              <ion-text *ngIf="submitted && validateForm.email.errors?.email" class="danger-text text-center">
                {{'ENTER_VALID_EMAIL' | translate}}
              </ion-text>
            </ion-row>
            <ion-row class="justify-content-center error-msg-row">
              <ion-text *ngIf="errorMessage && !validateForm.email.errors?.required && !validateForm.email.errors?.email" class="validation danger-text">{{'EMAIL_NOT_MATCH' | translate}}</ion-text>
              <ion-text *ngIf="googleError && !validateForm.email.errors?.required && !validateForm.email.errors?.email" class="validation danger-text">{{'GOOGLE_ERROR_DESC' | translate}}</ion-text>
            </ion-row>
          </ng-container>
          <ion-row class="footer-description">
            <ion-text *ngIf="!resetFinished" class="link-description">
              {{'LINK_DESC'| translate}}
            </ion-text>
            <ion-row class="contact-description">
              <ion-text>{{'CONTACT_DESC' | translate}}</ion-text>
              <ion-text>{{'PLEASE_CONTACT' | translate}}</ion-text>
            </ion-row>
            <ion-row class="support-email-row"><a href="mailto:support@gooru.org" target="_top" class="support-mail">{{'SUPPORT_GRU' | translate}}</a></ion-row>
            <ion-text *ngIf="resetFinished" class="link-description">
              {{'MAIL_SENT_DESC' | translate}}
            </ion-text>
          </ion-row>
          <ion-row class="submit-button form-group text-center close-btn" *ngIf="resetFinished;else submitBtn" (click)="onClose()">
            <button type="submit" class="btn btn-info submit">
              {{'CLOSE' | translate}}
            </button>
          </ion-row>
          <ng-template #submitBtn>
            <ion-row class="submit-button form-group text-center" (click)="onSubmit()">
              <button type="submit" class="btn btn-success submit">
                {{'SUBMIT' | translate}}
              </button>
            </ion-row>
          </ng-template>
        </ion-row>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
